.loginContainer {
    border: 1px solid #e6e6e6;
    width: 350px;
    height: 380px;
    box-sizing: border-box;
    margin: 12px auto;
    padding: 0 20px;
}

.logoImg {
    background-image: url(../img/logo_text.png);
    background-size: 100%;
    width: 180px;
    height: 55px;
    margin: 30px auto;
}

.loginForm {
    /*아래 둘다 없어도 화면이 똑같습니다.*/
    /*개발자도구에서 확인해보세요. */
    /*form 태그는 부모의 div.loginContainer 가로 크기만큼 원래 꽉차므로 굳이 100%을 안주어도 됩니다.*/
    /*높이도 빼도 화면이 그대로인데, 자식 높이만큼 알아서 늘어나므로 없어도 됩니다*/
    width: 100%;
    height: 263px;
}

.loginForm input{
   width: 100%;
   height: 38px;
   font-size: 12px;
   margin-bottom: 5px;
   padding-left: 9px;
   border: 1px solid #efefef;
   background-color: #FAFAFA;
   border-radius: 3px;
   color: #999999;
}

.loginBtn {
    background-color: #3897f0;
    opacity: 0.3;
    width: 100%;
    height: 30px;
    margin-top: 7px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 600;
}

.lostPw{
    color:#003569;
    text-align: center;
    font-size: 12px;
    margin-top: 90px;
}
