body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

nav {
    height: 77px;
    width: 100%;
    border-bottom: 1px solid rgb(223, 223, 223);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 26px 40px;
}

.iconAndLogo{
    display: flex;
}

.logoIcon {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/logo.png");
    background-size: 100%;
    width: 24px;
}

.verticalLine {
    content: "";
    border-left: 1px solid rgb(179, 176, 176);
    height: 28px;
    margin: 0 15px;
}

.logoImg {
    background-image: url("../img/logo_text.png");
    background-size: 100%;
    width: 103px;
}

.searchBoxContainer {
    width:215px;
    position: relative;
}

.searchBox, .searchBoxInput {
    width: 100%;
    height: 28px;
    position: absolute;
}

.searchBox {
    background-color: #FAFAFA;
    text-align: center;
    padding: 6px;
    font-weight: 300;
    color: #999;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    cursor: text;
}

.searchBoxInput {
    width: 100%;
    display: none;
    padding: 3px 10px 3px 26px;
}

.searchResult {
    margin-top: 28px;
    width: 215px;
    display: none;
}


.firstSearch, .secondSearch, .thirdSearch {
    width: 215px;
    height: 28px;
    padding: 3px 10px 3px 26px;
    border: 1px solid #dbdbdb;
}

.navList {
    display: flex;
}

.navList li {
    width: 24px;
    height: 23px;
    background-size: 100%;
    cursor: pointer;
    margin-left: 20px;
}

.searchImg {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png");
}

.heartImg {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
}

.peopleImg {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png");
}

.total {
    display: flex;
    margin-top: 135px;
    justify-content: center;
    height: calc(100vh - 77);
}

.feeds {
    width: 614px;
    background-color: #fff;
}

article {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 3px;
    width: 100%;
}

header {
    width: 100%;
    height: 60px;
    padding: 16px;
    display: flex;
}

.profilePhoto {
    background-image: url("https://scontent-icn1-1.cdninstagram.com/vp/91a4a6cf425350138a196ba4df885b9b/5DFE2D10/t51.2885-19/s150x150/64219646_866712363683753_7365878438877462528_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com");
    display:inline-block;
    background-size: 100%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.profileName {
    color: #262626;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 10px;
}

.feedPhoto img {
    width: 100%;
}

.feedPhoto {
    width: 614px;
}
.photoBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profileList {
    display:flex;
    width: 140px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.profileList li, .bookmarkImg {
    width: 24px;
    height: 23px;
    background-size: 100%;
    margin: 11px;
    cursor: pointer;
}

.profileHeartImg {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
}

.profileBalloonImg {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png");
}

.profileShareImg {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png");
}

.bookmarkImg {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
}

.likeSection {
    padding: 7px 16px;
    font-weight: bold;
    font-size: 14px;
}

.commentUploadedBox {
    padding: 0 16px;
}

.commentList .userComment span {
    font-weight: bold;
}

.commentList button {
    padding: 0;
    color: #999999;
    font-size: 14px;
    cursor: pointer;
}

.commentList .secondList {
    margin-bottom: 10px;
}

.timeBox {
    color: #999999;
    font-size: 10px;
    padding: 5px 16px;
}

.commentWritingSection {
    padding: 15px 16px;
    border-top: 1px solid rgb(223, 223, 223);
}

.commentForm {
    width: 582px;
    display: flex;
    justify-content: space-between;
}

.commentForm button {
    color: #3897F0;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.3;
    padding: 0;
}

.commentWriting {
    resize: none;
    color: #999;
    border: none;
    width: 557.77px;
    font-size: 14px;
    display: inline-block;
}

.mainRight {
    width: 293px;
    margin-left: 30px;
}

.rightProfile {
    display: flex;
    padding: 5px 0;
}

.rightProfileImg {
    background-image: url("https://scontent-icn1-1.cdninstagram.com/vp/91a4a6cf425350138a196ba4df885b9b/5DFE2D10/t51.2885-19/s150x150/64219646_866712363683753_7365878438877462528_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com");
    background-size: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}

.rightProfileBox {
    padding: 10px;
    display: flex;
    justify-content: 
}

.rightProfileUserId {
    color: #262626;
    font-weight: bold;
    font-size: 14px;
}

.rightProfileUserName {
    color: #999999;
    font-size: 12px;
}

.rightStory {
    height: 223px;
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    margin-top: 5px;
    border-radius: 3px;
    position: relative;
    z-index: -1;
}

.rightStory .rightProfileImg {
    width: 34px;
    height: 34px;
}

.firstStory, .secondStory, .thirdStory {
    display: flex;
    padding: 5px 7px 2px 10px;
    height: 44px;
    margin-top: 4px;
}

.rightStory .rightProfileBox {
    padding: 0 8px;
}

.rightRecommend {
    height: 223px;
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    margin: 12px 0;
    position: relative;
    z-index: -1;
}

.rightRecommendTop {
    height: 19px;
    margin-top: 12px;
    padding: 4px 16px;
}

.rightRecommendTopTitle {
    color: #999999;
    font-size: 14px;
}

.rightRecommendTopSeeAll {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 5px;
}

.rightRecommend .rightProfileImg {
    width: 34px;
    height: 34px;
}

.rightRecommend .rightProfileBox {
    padding: 0 8px;
}

.firstRecommend, .secondRecommend, .thirdRecommend {
    display: flex;
    padding: 1px 7px 2px 20px;
    height: 44px;
    margin-top: 8px;
}

.infoList {
    width: 293px;
    height: 36px;
}

.infoList li {
    color: #C7C7C7;
    font-size: 11px;
    display: inline-block;
}

